@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

body{
    font-family: 'Shadows Into Light', cursive;
}


.height{
    min-height: 100vh;
}



.title-underline{
    width: 140px;
    height: 5px;
    margin: 0 auto;
}


.height-80{
    min-height: 80vh;
}

.about-picture{
    background: url(../images/city_lights_1_bcg.jpeg)center/cover no-repeat fixed;
    /*background-size: cover;
    background-attachment: center;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
}


#filler{
    background:linear-gradient(to right,rgba(0,0,0,.6),rgba(0,0,0,.8)), url(../images/desk.png)center/cover no-repeat fixed;

}

