.phone{
    padding-top: 70px;
    height: 650px;
    width: 400px;
    float: right;
    margin: 10px;
}

body{
    background-color: #F3F3F3!important;
}

.container{
    margin-top:20px;
}

.right-column{
    background: #fff; 
    border: 1px solid #e6e6e6;
    width: 350px;
    margin: 10px;
    padding: 40px;
}

.insta-logo{
    margin:3px auto;
}

.info{
    font-weight: 600px;
    line-height: 20px;
    font-size: 17px;
    color: #999;
}

button i{
    height: 18px !important;
    padding: 0 8px 2px;

}

.or{
    font-size: 13px !important;
    color: #999;
    font-weight: 600;
}

.or::before{
    content: '';
    background: #efefef;
    display: block;
    height: 2px;
    width: 110px;
    position: relative;
    top: 11px;
}

.or::after{
    content: '';
    background: #efefef;
    display: block;
    height: 2px;
    width: 110px;
    position: relative;
    bottom: 11px;
    left: 160px;
}

.form-group{
    margin-bottom: 6px !important;
}

.form-control{
    background: #fafafa !important;
    border: 1px solid #efefef!important;
    font-size: 12px!important;
}

::placeholder{
    color: #999!important;
}

.btn{
    margin: 12px auto;
    padding: 2px!important;
    font-weight: 600!important;
}

.btn-primary{
    background-color: #3897f0 !important;
    border: 1px solid #3897f0 !important;
}

.terms{
    line-height: 18px; 
    font-size: 14px;
    color: #999;
    margin: 5px 20px;
}

.right-column-login{
    background: #fff;
    border: 1px solid #e6e6e6;
    width: 350px;
    margin: 10px;
    padding: 20px;
}

.right-column-login a:hover{
    text-decoration: none;
}

.links a{
    text-decoration: none;
    padding-right: 5px;
    text-align: center;
    color:rgb(61, 91, 153);
    font-size: 12px;
    font-weight: bold;
}

.links{
    align-content: center;
    padding-left: 20px;
    text-align: center;
}

.text-dark{
    color: #999!important;
    font-size: 12px;
}

.right-column-app {

    width: 350px;
    margin: 10px;
    padding: 40px;

}

@media only screen and (max-width: 768px){
    .phone{
        display: none;
    }
    .copy{
        text-align: center;
    }
    .container{
        margin-left: 500px;
    }
}

@media only screen and (max-width: 900px){
    .phone{
        display: none;
    }
    .copy{
        text-align: center;
    }
    .container{
        margin-right: 400px;
    }
}